$theme-dark: #52489C;
$theme-light: #4062BB;
$theme-good: #59C3C3;
$theme-bad: #F45B69;

.not-resizable {
  resize: none;
}

/***** MAIN NAV BAR *******/
.brand-name {
  color: white;
  font-size: 1.75em;
}

.nav {
  background-color: $theme-dark;
}

/***********************/

/****** USER PROFILE ********/

.review-type-heading {
  font-size: 1em;
}

.review-type-count {
  font-size: 2em;
}

.username-avatar-card {
  font-size: 2.5em;
}
/***********************/
