.not-resizable {
  resize: none;
}

.yellow-background {
  background-color: yellow;
}
.brown-background {
  background-color: #52371a;
}

/***** MAIN NAV BAR *******/
.brand-name {
  color: white;
  font-size: 2.5em;
}

/****** USER PROFILE ********/
.mini-avatar-border {
  border: 1px solid yellow;
}

.white-text {
  color: white;
}

.yellow-text {
  color: yellow;
}

.critique-subject {
  font-size: 2em;
}

.critique-content {
  font-size: 1.25em;
}

.sorting-options {
  color: white;
  font-size: 1.2em;
}