$theme-dark: #52489C;
$theme-light: #4062BB;
$theme-good: #59C3C3;
$theme-bad: #F45B69;

.not-resizable {
  resize: none;
}

/***** MAIN NAV BAR *******/
.brand-name {
  color: white;
  font-size: 1.75em;
}

.nav {
  background-color: $theme-dark;
}

/***********************/

/****** USER PROFILE ********/

.avatar-card-angry {
  box-shadow: 2px 2px 5px 0.5px #ED6C63;
}

.avatar-card-happy {
  box-shadow: 5px 5px 5px 0.5px #97CD76;
}

.avatar-card-username {
  font-size: 2.5em;
}

.critique-ripe:hover {
  box-shadow: 5px 5px 5px 0.5px #97CD76;
}

.critique-rotten:hover {
  box-shadow: 2px 2px 5px 0.5px #ED6C63;
}

.critique-content {
  font-size: 1.17em;
}

.critique-subject {
  font-size: 1.7em;
  color: black;
}

.filtering-bar {
  background-color: #21BAE0;
}

.filtering-control {
  font-size: 1.5em;
}

.recent-critique-heading {
  font-size: 2.5em;
}

.review-type-heading {
  font-size: 1em;
}

.review-type-count {
  font-size: 2em;
}

/***********************/
