<% @ripe_review_count = user.critiques.where(is_ripe_banana: true).count %>
<% @rotten_review_count = user.critiques.where(is_ripe_banana: false).count %>

<div class="tile is-parent">
  <section class="section">
    <div class="message is-info">
      <div class="message-body">
        <div class="card-content">
          <div class="columns">
            <div class="column is-one-third">
              <p class="image is-96x96">
                <img src="<%= user.avatar %>" alt="avatar">
              </p>
            </div>
            <div class="column">
              <div class="box">
                <h1 class="title"><%= user.username %></h1>
                <h2 class="subtitle">
                  <% if  @ripe_review_count >  @rotten_review_count %>
                    Is an angry monkey.
                  <% else %>
                    Is a happy monkey.
                  <% end %>
                </h2>
              </div>
            </div>
          </div>
          <div class="level">
            <div class="level-item has-text-centered">
              <p class="heading">Ripe Reviews</p>
              <p class="title"><%= @ripe_review_count %></p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading">Rotten Reviews</p>
              <p class="title"><%= @rotten_review_count %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>