<nav class="filtering-bar">
  <form method="GET" action="/users/<%= @user.id %>">
    <p class="control has-addons has-addons-centered">
      <span class="select">
        <select style="font-size: 1.5em" name="filter_criteria">
          <option value-"" disabled selected>See <%= @user.username %>'s feedback by...</option>
          <option value="recently_posted">Recently Posted</option>  
          <option value="ripe_reviews">Ripe Feedback</option>
          <option value="rotten_reviews">Rotten Feedback</option>  
          <option value="subject">Subject</option>
        </select>
      </span>
      <button class="button filtering-control is-success">
        Go
      </button>
    </p>
  </form>
</nav>