<nav style="background-color: #21BAE0">
  <form method="GET" action="/users/<%= @user.id %>">
    <p class="control has-addons has-addons-centered">
      <span class="select">
        <select name="filter_criteria">
          <option value="subject">Subject</option>
          <option value="ripe_reviews">Ripe Reviews</option>
          <option value="rotten_reviews">Rotten Reviews</option>
          <option value="recently_posted">Recently Posted</option>    
        </select>
      </span>
      <button class="button is-success">
        Go
      </button>
    </p>
  </form>
</nav>
