<!-- <div class="tile is-parent"> -->
<div class="column">
  <section class="section">
    <div class="message <%= most_recent_critique.is_ripe_banana ? "is-success" : "is-danger" %>"">
      <div class="message-body">
        <div class="card-content">
          <div class="">
            <label class="label title has-text-centered">Most Recent Critique</label>
            <br>
            <%= erb :_critique_wall, locals: { critique: most_recent_critique } %>
         </div>
        </div>
      </div>
    </div>
  </section>
</div>