<!-- USER DETAILS SECTION -->
<section class="section yellow-background">
  <div class="container">
    <div class="tile is-ancestor">
      <!--- CONTAINS THE USER AVATAR AND USERNAME -->
      <%= erb :'users/_avatar_card', locals: { user: @user } %>

      <!-- CONTAINS THE MOST RECENT CRITIQUE -->
      <%= erb :'users/_most_recent_critique', locals: { most_recent_critique: @most_recent_critique } %>
    </div>
  </div>
</section>

<!-- CRITIQUE SECTION -->
<div class="columns">

  <!-- CRITIQUES-->
  <div class="column is-two-thirds yellow-background">
    <section class="section yellow-background">
      <div class="container">
      <% @user_critiques.each do |critique| %>
      <%= erb :'users/_critique', locals: { critique: critique } %>
      <% end %>
      </div>
    </section>
  </div>

  <!-- SORTING FORM -->
  <div class="column">
    <section class="section">
      <div class="message is-info">
        <div class="message-header">
          View Critiques By...
        </div>
        <div class="message-body">
          <form method="POST" action="/users/<%= @user.id %>">
            <input type="hidden" name="user_id" value="@user.id">
            <p class="control">
              <span class="select">
                <select name="filter_criteria">
                    <option value="subject">Subject</option>
                  
                    <option value="ripe_reviews">Ripe Reviews</option>
                  
                    <option value="rotten_reviews">Rotten Reviews</option>    
                </select>
              </span>
            </p>
            <p class="control">
              <button class="button is-success">Select</button>
            </p>
          </form>
        </div>
      </div>
    </section>
  </div>

</div>