<!-- USER DETAILS SECTION -->


<section class="section">
  <div class="container">
    <div class="columns">
      <!--- USER AVATAR AND USERNAME -->
      <%= erb :'users/_avatar_card', locals: { user: @user } %>
      <!-- MOST RECENT CRITIQUE -->
      <%= erb :'users/_most_recent_critique', locals: { most_recent_critique: @most_recent_critique } %>

    </div>
  </div>
</section>

<section class="section">
<div class="container">
<!-- FILTER CRITIQUE SELECTOR -->
<%= erb :'/users/_filter_critiques' %>

<!-- USER CRITIQUES SECTION -->
<section class="section">
  <% @user_critiques.each do |critique| %>
    <% can_delete = (critique.user == current_user) ? true : false %>
    <%= erb :_critique_wall, locals: { critique: critique, can_delete: can_delete } %>
  <% end %>
</section>
</div>
</section>