<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Employee Wellness Report
      </h1>
      <h2 class="subtitle">
      <%=@subject.name%>
      </h2>
    </div>
  </div>
</section>

<div class="columns is-mobile">
<div class="column is-half is-offset-one-quarter">
	<%= pie_chart Subject.joins(:critiques).where("subjects.id = '#{@subject_id}'").group('critiques.is_ripe_banana').count, colors: ["DC3912", "3366CC"], library: {legend: {position: "right"}, backgroundColor: "#f5f7fa", is3D: true}%>
</div>
</div>

<div class="container">
<% Critique.where(subject_id: @subject_id).each do |critique| %>
  <%= erb :_critique_wall, locals: { critique: critique } %>
<% end %>
</div>

