<!-- <section class="hero is-info is-bold">
  <div class="hero-body">

    <div>
      <a href="/" class="subtitle">Logout</a>
    </div>

    <div>
      <a href="/" class="subtitle">Back to Critique Wall</a>
    </div>
  </div>
  <div class="hero-foot">
    
  </div>
</section> -->

<nav class="nav is-warning brown-background">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <strong class="white-text">OfficeMonkey</strong>
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item" style="color: white">
        Home
      </a>
      <a class="nav-item" style="color: white">
        Features
      </a>
      <a class="nav-item" style="color: white">
        Team
      </a>
      <a class="nav-item" style="color: white">
        Help
      </a>
      <span class="nav-item">
        <a class="button">
          Log in
        </a>
        <a class="button is-info" style="background-color: yellow">
          <span style="color: black">Sign up</span>s
        </a>
      </span>
    </div>
  </div>
</nav>