<!-- <section class="hero is-info is-bold">
  <div class="hero-body">

    <div>
      <a href="/" class="subtitle">Logout</a>
    </div>

    <div>
      <a href="/" class="subtitle">Back to Critique Wall</a>
    </div>
  </div>
  <div class="hero-foot">
    
  </div>
</section> -->

<nav class="nav is-warning brown-background">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <strong class="brand-name">OfficeMonkey</strong>
      </a>
    </div>
    <div class="nav-right nav-menu">
      <span class="nav-item">
        <a class="button">
          Log in
        </a>
        <a class="button yellow-background">
          <span style="color: black">Sign up</span>
        </a>
      </span>
    </div>
  </div>
</nav>