<section class="hero is-info is-bold">
  <div class="hero-head">
    

<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="/">
        <img src="/src/monkey.png" alt="logo">
        <strong class="brand-name">OfficeMonkey</strong>
      </a>
    </div>
    <div class="nav-right nav-menu">
      <span class="nav-item">
        <% if logged_in? %>
          <a href="/users/<%= current_user.id %>" class="button is-success">
            Profile
          </a>
          <a href="/report" class="button">
            Analysis
          </a>
          <a href="#" class="button">
            Log out
          </a>
        <% else %>
          <a class="button is-success">
            Log in
          </a>
          <a class="button is-success">
            Sign up
          </a>
        <% end %>
        <a class="button" href="https://github.com/xhan91/office-monkey">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
          <span>Source code</span>
        </a>
      </span>
    </div>
  </div>
</nav>
  <% if @has_title %>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Employee Wellness Report
      </h1>
      <h2 class="subtitle">

      </h2>
    </div>
  </div>
  <% end %>

</section>
