<section class="hero is-info is-bold">
  <div class="hero-head">
    <div class="container">
      
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="is-vcentered">
        <h1 class="title">Office Monkey</h1>
      </div>  
    </div>
  </div>
  <div class="hero-foot">
    
  </div>
</section>