<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="/">
        <img src="/src/monkey.png" alt="logo">
        <strong class="brand-name">OfficeMonkey</strong>
      </a>

    </div>
    <div class="nav-right nav-menu">
      <span class="nav-item">
        <a href="/report" class="button">
          Report
        </a>
        <a class="button">
          Log in
        </a>
        <a class="button ">
          <span>Sign up</span>
        </a>
      </span>
    </div>
  </div>
</nav>
