<section class="hero is-info is-bold">
  <div class="hero-body">

    <div>
      <a href="/" class="subtitle">Logout</a>
    </div>

    <div>
      <a href="/" class="subtitle">Back to Critique Wall</a>
    </div>
  </div>
  <div class="hero-foot">
    
  </div>
</section>